<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>記帳本</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="shortcut icon"
    href="https://tse3.mm.bing.net/th?id=OIP.vUl3y82WcOOdunyafU9JGgHaHa&pid=Api&P=0&w=169&h=169"
    type="image/x-icon">
</head>
<body>
  {{{ body }}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>